p{
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-weight: auto;
}
.nav{
    width: 100%;
    margin: auto;
   
}
.navtop{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    
}
.navleft{
    width: 20%;
    display: flex;
    justify-content: space-between;
    
}
.navright{
    width: 37%;
    display: flex;
    justify-content: space-between;
    
}
.navleft>p{
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}
.navleft>p:nth-child(2){
    background-color: rgb(242, 242, 242);
    padding: 11px;
    margin-top: 0px;
}
.navright>p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-between;
   
}
.navmid{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.blank{
    
    width: 30%;
}
.cartlogo>a{
    display: flex;
    justify-content: flex-end;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    
    
}
.cartlogo{
    align-self: flex-end;
    width: 175px;
    
}
.cartlogo>a>div:nth-child(2){
    text-align: end;
    width: 20%;
    
    
}
.cartlogo>a>div:nth-child(1){
    align-self: center;
    
}

.navbot{
    width: 75%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
 
    
}
.navbot>div{
    display: flex;
   
}
.navbot>div>p{
    padding: 10px;
}
hr{
    margin-top: 10px;
    color: rgb(160, 160, 160);
}
input{
    width: 250px;
    height: 25px;
    align-self: center;
}

.middle{
    width: 75%;
    margin: auto;
}

.midTop>div:nth-child(2){
    
    color: white;
    position: relative;
    bottom: 385px; left: 40px;
}
.midTop>div:nth-child(2)>p:nth-child(3){
    font-size: 54px;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 65px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.shop{
    border: 0px solid gray;
    background-color: white;
    padding: 8px 17px 8px 17px;
    font-size: 13px;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;

}
.shop:hover{
    border: 0px solid gray;
    background-color: rgb(152, 152, 152);
   color: white;
   cursor: pointer;
}

.midBox{
    margin-top: -220px;
    text-align: center;
}
.midBox>p{
    font-size: 32px;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 41.6px;
    margin-bottom: 0px;
    
}
.midBox>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.midBox>div>div>div{
    display: flex;
    justify-content: space-around;
    color: gray;
    font-size: small;
}
.midBox2{
    text-align: center;
}
.midBox2>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
}
.midBox2>div>div>div{
    display: flex;
    justify-content: space-around;
    color: gray;
    font-size: larger;

}


.view{
    background-color: black;
    color: white;
    padding: 5px 20px 5px 20px;
    font-size: 13px;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
}
.view:hover{
    background-color: rgb(61, 61, 61);
    border: 0px solid gray;
    padding: 8px 25px 8px 25px;
    color: white;
    cursor: pointer;
}



.midmid,.midmid2{
    margin-top: 30px;
   
}
.midmid>div>div:nth-child(1)>div>p:nth-child(1),.midmid2>div>div:nth-child(2)>div>p:nth-child(1){
    font-size: 54px;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.midmid>div>div:nth-child(1)>div,.midmid2>div>div:nth-child(2)>div{

     width: 75%;
     margin: auto;
     align-self: center;
}


.midmid>div,.midmid2>div{
    display: flex;
}
.midmid>div>div,.midmid2>div>div{
    width: 50%;
    color: white;
    background-color: black;
   display: flex;
}

.bottom{
    width: 75%;
    margin: auto;
}
.bottom p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    
    color: gray;
}
.bottom>div:nth-child(2),.middle>p{
    
    text-align: center;
}
.bottom>div:nth-child(4){
   
    display: flex;
    justify-content: space-between;
}
.midBottom{
    width: 90%;
    margin:auto ;
}
.midBottom p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    
}
.midBottom>h3{
    text-align: center;
}
.midBottom>div{
    
    display: flex;
    justify-content: space-between;
    
}
.midBottom>div>div{
    width: 50%;
    text-align: left;
}
h3{
    font: 1em  sans-serif;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}
.botmost>div{
    display: flex;
    justify-content: space-between;
}

.cs{
    color: black;
    background-color: rgb(223, 223, 223);
    padding: 8px 20px 8px 20px;
    border: 0px solid ;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;

}
.cs:hover{
    background-color: rgb(203, 203, 203);
    cursor: pointer;
}