.nav{
    width: 100%;
    margin: auto;
    
}
.navtop{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    
}
.navleft{
    width: 20%;
    display: flex;
    justify-content: space-between;
    
}
.navright{
    width: 37%;
    display: flex;
    justify-content: space-between;
    
}
.navleft>p{
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}
.navleft>p:nth-child(2){
    background-color: rgb(242, 242, 242);
    padding: 11px;
    margin-top: 0px;
}
.navright>p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-between;
   
}
.navmid{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.blank{
    
    width: 30%;
}
.cartlogo>a{
    display: flex;
    justify-content: flex-end;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    
    
}
.cartlogo{
    align-self: flex-end;
    width: 175px;
    
}
.cartlogo>a>div:nth-child(2){
    text-align: end;
    width: 20%;
    
    
}
.cartlogo>a>div:nth-child(1){
    align-self: center;
    
}

.navbot{
    width: 75%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    
}
.navbot>div{
    display: flex;
    
}
.navbot>div>p{
    padding: 10px;
}
hr{
    margin-top: 10px;
    color: rgb(160, 160, 160);
}
input{
    width: 250px;
    height: 25px;
    align-self: center;
}

.middle{
    width: 75%;
    margin: auto;
   
}
.middletop{
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(117, 117, 117);
}
select{
    width: auto;
    border: 0px;
}
.category{
    width: 20%;
   
}
.main{
    display: flex;
}
.category>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(94, 93, 93);
}

.container{
    width: 75%;
    margin: auto;
    text-align: center;
    line-height: normal;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

}
.container>div>img{
    width: 100%;
    
}
.butdiv{
    width: 90%;
    display: flex;
    justify-content: space-between;
    
    margin: auto;
}
.brandFont{
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}
.nameFont{
    font-family: "Roboto Mono", Menlo, "Courier New", monospace;
    font-size: 14px;
    font-weight: 400;
   
}
.price{
    font-family: "Roboto Mono", Menlo, "Courier New", monospace;
    font-size: 14px;
    font-weight: 1000;
    
}
.add{
    border: 1px solid gray;
    background-color: white;
    
}
.wish{
    font-size: larger;
    border: 0px solid gray;
    background-color: white;
    
}

.add:hover,.wish:hover{
    border: 1px solid gray;
    color: white;
    padding: 5px 10px 5px 10px;
    background-color: gray;
    
}
.bottom{
    width: 75%;
    margin: auto;
}
.bottom>div:nth-child(2){
    
    text-align: center;
}
.bottom>div:nth-child(4){
   
    display: flex;
    justify-content: space-between;
}
