.mid p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    
    color: gray;
}
.nav{
    width: 100%;
    margin: auto;
}
.navtop{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    
}
.navleft{
    width: 20%;
    display: flex;
    justify-content: space-between;
    
}
.navright{
    width: 37%;
    display: flex;
    justify-content: space-between;
    
}
.navleft>p{
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}
.navleft>p:nth-child(2){
    background-color: rgb(242, 242, 242);
    padding: 11px;
    margin-top: 0px;
}
.navright>p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-between;
   
}
.navmid{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.blank{
    
    width: 30%;
}
.cartlogo>a{
    display: flex;
    justify-content: flex-end;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    
    
}
.cartlogo{
    align-self: flex-end;
    width: 175px;
    
}
.cartlogo>a>div:nth-child(2){
    text-align: end;
    width: 20%;
    
    
}
.cartlogo>a>div:nth-child(1){
    align-self: center;
    
}
.navbot{
    width: 75%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    
}
.navbot>div{
    display: flex;
    
}
.navbot>div>p{
    padding: 10px;
}
hr{
    margin-top: 10px;
    color: rgb(160, 160, 160);
}
#searchm{
    width: 250px;
    height: 25px;
    align-self: center;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    
}


h3{
    font: 1em  sans-serif;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}


input,#at {
    border: 1px solid rgba(203, 203, 203, 0.614);
    border-radius: 2px;
    width: 500px;
    padding: 11px;
    margin-top: 12px;
    margin-right: 120px;
    
  }
 

  .select{
    width:70px;
    height:35px;
  }
  #c1{
    width: 15px;
   
}
.midtop{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.mid{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
  }
 
  .mid>div{
    width: 45%;
   
    padding: 0% 3% 3% 3%;
    
  }
  .method>div{
    display: flex;
    justify-content: space-around;
}
  .fst{
    display: flex;
    justify-content: left;
}

.pc{
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 5px 15px 5px 15px;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}




.bottom{
    width: 75%;
    margin: auto;
}
.bottom p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    
    color: gray;
}
.bottom>div:nth-child(2),.middle>p{
    
    text-align: center;
}
.bottom>div:nth-child(4){
   
    display: flex;
    justify-content: space-between;
}
.botmost>div{
    display: flex;
    justify-content: space-between;
}


.cs{
    color: black;
    background-color: rgb(223, 223, 223);
    padding: 8px 20px 8px 20px;
    border: 0px solid ;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    
}
.cs:hover{
    background-color: rgb(203, 203, 203);
    cursor: pointer;
}
#as{
    width: 200px;
}
.hrx{
    transform: rotate(90deg);
}